<%= form_for @recipe do |f| %>
 
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %> prohibited
        this recipe from being saved:
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
 
<% #displays recipe form %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 

  <%= f.fields_for :link_recipe_ings, @recipe.link_recipe_ings.build do |c| %>
    <%= c.collection_select :chocolate_id, Chocolate.all, :id, :chocolatename, 
        :include_blank => true, 
        :selected => @recipe.link_recipe_ings.first.chocolate_id %>
        
    <%= c.collection_select :dairy_id, Dairy.all, :id, :dairyname, 
        :include_blank => true, 
        :selected => @recipe.link_recipe_ings.first.dairy_id %>
        
    <%= c.collection_select :puree_id, Puree.all, :id, :pureename, 
        :include_blank => true, 
        :selected => @recipe.link_recipe_ings.first.puree_id %>
        
    <%= c.collection_select :liqueur_id, Liqueur.all, :id, :liquorname, 
        :include_blank => true, 
        :selected => @recipe.link_recipe_ings.first.liqueur_id %>
        
  <% end %>

  <p>
    <%= f.label :chocolate_amount %><br>
    <%= f.text_area :chocolate_amount %>
  </p>

  <p>
    <%= f.label :dairy_amount %><br>
    <%= f.text_area :dairy_amount %>
  </p>

  <p>
    <%= f.label :puree_amount %><br>
    <%= f.text_area :puree_amount %>
  </p>
  
  <p>
    <%= f.label :liqueur_amount %><br>
    <%= f.text_area :liqueur_amount %>
  </p>
  
  

  <p>
    <%= f.fields_for :other_ingredients do |builder| %>
      <%= render 'other_ingredient_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add More Ingredient", f, :other_ingredients %>
  </p>
  
  <p>
    <br>
    <%= f.submit %>
  </p>
 
<% end %>