<%= form_for @recipe do |f| %>
 
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 
  <% f.fields_for :other_ingredients do |builder| %>
    <%= render 'other_ingredient_fields', :f => builder %>
  <% end %>
  <p><%= link_to_add_fields "Add Other", f, :other_ingredients %></p>
  <p>
    <%= f.submit %>
  </p>
 
<% end %>