<% #displays recipe entry %>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>
 
<% ################################################################################### %> 
<% # Look at each form, recipes.js.coffee, and application helper file for JS/Jqueries %>
<% ################################################################################### %> 

<p>
  <strong>Chocolate:</strong>
  <% choID =  @recipe.link_recipe_ings.first.chocolate_id %>
  <% chocoSelected = Chocolate.find(choID) %>
  <%= chocoSelected.chocolatename %>
</p>

<p>
  <strong>Chocolate Amount:</strong>
  <%= @recipe.chocolate_amount %>
</p>

<p>
  <strong>Dairy:</strong>
  <% dID =  @recipe.link_recipe_ings.first.dairy_id %>
  <% dairySelected = Dairy.find(dID) %>
  <%= dairySelected.dairyname %>
</p>

<p>
  <strong>Dairy Amount:</strong>
  <%= @recipe.dairy_amount %>
</p>

<p>
  <strong>Puree:</strong>
  <% pID =  @recipe.link_recipe_ings.first.puree_id %>
  <% pureeSelected = Puree.find(pID) %>
  <%= pureeSelected.pureename %>
</p>

<p>
  <strong>Puree Amount:</strong>
  <%= @recipe.puree_amount %>
</p>

<p>
  <strong>Liqueur:</strong>
  <% lID =  @recipe.link_recipe_ings.first.liqueur_id %>
  <% liSelected = Liqueur.find(lID) %>
  <%= liSelected.liquorname %>
</p>

<p>
  <strong>Dairy Amount:</strong>
  <%= @recipe.dairy_amount %>
</p>


<% for other in @recipe.other_ingredients %>
  <p>
    <strong>Other:</strong>
    <%= other.name %>
    <Strong> Amount</Strong>
    <%= other.amount %>
  </p> 
<% end %>
 
 
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>

