<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @recipe.description %>
</p>
 

<p>
  <strong>Choco:</strong>
  <%= @recipe.chocolates %>
</p>
 
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>

